# <Sensor> <Level> <MinAlarm> <MaxAlarm> <poll freq> <Actions> [...<Actions>]

# Thermistor                 CameraStop        CPU clock        Charge_curr            USB_curr               DC_curr               LCD brightness          GPU clock        modem
emmc_therm 10 -1000 460 5000 NOTIFY CAM_NORMAL cpu_perflevel:-1 charge_current_limit:0 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:255 gpu_perflevel:-1 modem_level:0
emmc_therm 9 450 470 100 NOTIFY CAM_NORMAL cpu_perflevel:-1 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:192 gpu_perflevel:-1 modem_level:0
emmc_therm 8 460 480 100 NOTIFY CAM_NORMAL cpu_perflevel:-1 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:192 gpu_perflevel:-1 modem_level:0
emmc_therm 7 470 490 100 NOTIFY CAM_NORMAL cpu_perflevel:-1 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:160 gpu_perflevel:-1 modem_level:0
emmc_therm 6 480 500 100 NOTIFY CAM_NORMAL cpu_perflevel:1728000 charge_current_limit:7 usb_current_limit:900 dc_current_limit:900 lcd_brightnesslevel:160 gpu_perflevel:-1 modem_level:0
emmc_therm 5 490 510 100 NOTIFY CAM_NORMAL cpu_perflevel:1267200 charge_current_limit:7 usb_current_limit:700 dc_current_limit:700 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 4 500 520 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:700 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 3 510 540 100 NOTIFY CAM_NORMAL cpu_perflevel:883200 charge_current_limit:7 usb_current_limit:300 dc_current_limit:500 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 2 520 550 100 NOTIFY CAM_WARNING cpu_perflevel:729600 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:128 gpu_perflevel:200000000 modem_level:0
emmc_therm 1 530 710 100 NOTIFY CAM_CRITICAL cpu_perflevel:652800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:96 gpu_perflevel:200000000 modem_level:1
emmc_therm 0 560 810 100 NOTIFY CAM_CRITICAL cpu_perflevel:422400 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:64 gpu_perflevel:200000000 modem_level:1
emmc_therm CRITICAL 1 NOTIFY SHUTDOWN

tsens_tz_sensor5 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor5 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor5 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor5 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor5 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor5 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor5 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor6 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor6 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor6 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor6 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor6 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor6 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor6 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor7 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor7 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor7 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor7 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor7 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor7 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor7 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor8 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor8 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor8 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor8 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor8 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor8 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor8 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor9 2 -1000 800 1000 gpu_perflevel:-1
tsens_tz_sensor9 1 700 1000 100 gpu_perflevel:-1
tsens_tz_sensor9 0 950 1200 100 gpu_perflevel:200000000
tsens_tz_sensor9 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor10 2 -1000 800 1000 gpu_perflevel:-1
tsens_tz_sensor10 1 700 1000 100 gpu_perflevel:-1
tsens_tz_sensor10 0 950 1200 100 gpu_perflevel:200000000
tsens_tz_sensor10 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor2 0 -1000 1200 1000 NONE
tsens_tz_sensor2 CRITICAL 100 NOTIFY SHUTDOWN

batt_therm 1 -1000 550 1000 usb_current_limit:1300 dc_current_limit:1300
batt_therm 0 540 700 100 usb_current_limit:100 dc_current_limit:100
batt_therm CRITICAL 100 NOTIFY SHUTDOWN

[HD-CAMERA-RECORDING]
emmc_therm 10 -1000 460 5000 NOTIFY CAM_NORMAL cpu_perflevel:-1 charge_current_limit:0 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:255 gpu_perflevel:-1 modem_level:0
emmc_therm 9 450 470 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:192 gpu_perflevel:-1 modem_level:0
emmc_therm 8 460 480 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:192 gpu_perflevel:-1 modem_level:0
emmc_therm 7 470 490 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:5 usb_current_limit:1300 dc_current_limit:1300 lcd_brightnesslevel:160 gpu_perflevel:-1 modem_level:0
emmc_therm 6 480 500 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:900 dc_current_limit:900 lcd_brightnesslevel:160 gpu_perflevel:-1 modem_level:0
emmc_therm 5 490 510 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:700 dc_current_limit:700 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 4 500 520 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:700 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 3 510 540 100 NOTIFY CAM_NORMAL cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:500 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 2 520 550 100 NOTIFY CAM_WARNING cpu_perflevel:1036800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:128 gpu_perflevel:-1 modem_level:0
emmc_therm 1 530 710 100 NOTIFY CAM_CRITICAL cpu_perflevel:652800 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:96 gpu_perflevel:200000000 modem_level:1
emmc_therm 0 560 810 100 NOTIFY CAM_CRITICAL cpu_perflevel:422400 charge_current_limit:7 usb_current_limit:300 dc_current_limit:300 lcd_brightnesslevel:64 gpu_perflevel:200000000 modem_level:1
emmc_therm CRITICAL 1 NOTIFY SHUTDOWN

tsens_tz_sensor5 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor5 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor5 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor5 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor5 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor5 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor5 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor6 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor6 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor6 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor6 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor6 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor6 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor6 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor7 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor7 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor7 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor7 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor7 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor7 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor7 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor8 5 -1000 700 500 cpu_perflevel:-1
tsens_tz_sensor8 4 600 800 100 cpu_perflevel:-1
tsens_tz_sensor8 3 650 900 100 cpu_perflevel:1728000
tsens_tz_sensor8 2 750 950 100 cpu_perflevel:1497600
tsens_tz_sensor8 1 800 1100 100 cpu_perflevel:883200
tsens_tz_sensor8 0 1000 1200 100 cpu_perflevel:422400
tsens_tz_sensor8 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor9 2 -1000 800 1000 gpu_perflevel:-1
tsens_tz_sensor9 1 700 1000 100 gpu_perflevel:-1
tsens_tz_sensor9 0 950 1200 100 gpu_perflevel:200000000
tsens_tz_sensor9 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor10 2 -1000 800 1000 gpu_perflevel:-1
tsens_tz_sensor10 1 700 1000 100 gpu_perflevel:-1
tsens_tz_sensor10 0 950 1200 100 gpu_perflevel:200000000
tsens_tz_sensor10 CRITICAL 100 NOTIFY SHUTDOWN

tsens_tz_sensor2 0 -1000 1200 1000 NONE
tsens_tz_sensor2 CRITICAL 100 NOTIFY SHUTDOWN

batt_therm 1 -1000 550 1000 usb_current_limit:1300 dc_current_limit:1300
batt_therm 0 540 700 100 usb_current_limit:100 dc_current_limit:100
batt_therm CRITICAL 100 NOTIFY SHUTDOWN
